.bannerParent{
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 100;
}

.blend{
    height: 100%;
    background-image: linear-gradient( to bottom,rgba(105, 105, 105, 0.1), #141414 150%);
    z-index: 60;
}

.bannerWrapper{
    position: absolute;
    z-index: 10;
    top:0;
    left:0;
    height: 100vh;
    width:100%;
    opacity:0.8;
}


.bannerTitle{
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    z-index:20;
    top:300px;
    margin:0 40px;
    z-index: 70;
    color:whitesmoke;
}

.bannerInfo{
    position: absolute;
    z-index:70;
    font-size: 20px;
    justify-self: end;
    font-weight: 500;
    margin:0 40px;
    top:360px;
    color:whitesmoke;
    width:700px;
    line-height: 30px;
}

.buttonContainer{
    /* width:300px; */
    position: absolute;
    top:550px;
    left:20px;
    z-index:30;
    display: flex;
    z-index: 70;
}

.buttonWrapper{
    padding:10px;
    margin:0 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
}

.buttonWrapper:hover{
    transition:all 0.3s ease-in-out;
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.btn{
    background-color: transparent;
    border:none;
    width:100px;
    font-size: 18px;
    cursor: pointer;
    color:whitesmoke;
}


@media screen and (max-width:1000px){
    .bannerTitle{
        font-size: 32px;
    }

    .bannerInfo{
        font-size: 16px;
        width:80%;
        line-height: 24px;
    }

    .bannerParent{
        height: 80vh;
    }

    .bannerWrapper{
        height: 80vh;
    }
}

@media screen and (max-width:1100px){
    .bannerTitle{
        font-size: 40px;
    }

    .bannerInfo{
        font-size: 24px;
        width:80%;
        line-height: 36px;
    }

    .bannerParent{
        height: 60vh;
    }

    .bannerWrapper{
        height: 60vh;
    }
}

/* for smaller devices  */
@media screen and (max-width:600px){
    .bannerTitle{
        font-size: 30px;
    }

    .bannerInfo{
        font-size: 16px;
        width:90%;
        line-height: 30px;
    }

    .bannerParent{
        height: 100vh;
    }

    .bannerWrapper{
        height: 100vh;
    }

    .btn{
        width:80px;
        font-size: 14px;
    }

    .bannerInfo{
        top:300px;
    }
    .bannerTitle{
        top:260px;
    }
}