.headerParent{
    height:10vh;
    width:100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.headerWrapper{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.logoWrapper{
    margin:0 20px;
}

.list{
    display: flex;
}

.item{
    margin:0 10px;
    list-style: none;
    font-weight: 500;
    color:whitesmoke;
}

.item:hover{
    cursor: pointer;
    color:red;
    transition:all 0.3s ease-in-out;
}

.iconWrapper{
    /* border:2px solid white; */
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    color:whitesmoke;
    font-size: 24px;
    margin:0 10px;
    cursor:pointer
}

.hidden{
    display: none;
}

@media screen and (max-width:768px){
    .list{
        display: none;
    }
}