.modal{
    position: absolute;
    top:70px !important;
    left:0;
    right:0;
    height:80vh;
    width:60%;
    margin:0 auto;
    overflow:hidden;
    z-index: 50;
    border-radius: 4px;
}

.closeModal{
    background-color: transparent;
    border:none;
    position: absolute;
    z-index:50;
    right:40px;
    top:60px;
}

.closeIcon{
    height:40px;
    width:40px;
    color: whitesmoke;
}

.closeIcon:hover{
    cursor: pointer;
    color:red;
    transition:all 0.3s ease-in-out;
}

.playerWrapper{
    position: relative;
    height:60%;
    width: 100%;
        
}

.modalPlayButton{
    position: absolute;
    z-index: 50;
    bottom:42%;
    left:40px;
    padding:10px;
    background: rgba(0,0,0,0.65);
    backdrop-filter: saturate(180%) blur(10px);
    display: flex;
    border-radius: 4px;
    justify-content: space-evenly;
    align-items: center;
    width:300px;
}

.playBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    padding:6px;
    font-size: 20px;
    font-weight: 500;
    border:none;
    border-radius: 4px;
}

.playBtn:hover{
    cursor: pointer;
}


.infoWrapper{
    position: absolute;
    width:100%;
    background: rgba(0,0,0,0.65);
    backdrop-filter: saturate(180%) blur(10px);
    height:50%;
}

.circle:hover{
    cursor: pointer;
    color:rgba(222, 218, 218, 0.868) !important;
    transition:all 0.3s ease-in-out;
}

.like:hover{
    cursor: pointer;
    color: green !important;
    transition:all 0.3s ease-in-out;
}

.transparent{
    background-color: transparent;
    border:none;
}

.mute{
    position: absolute;
    z-index: 50;
    right: 15px;
    top:50%;
    border-radius: 4px;
    border:none;
    background: rgba(0,0,0,0.65);
    backdrop-filter: saturate(180%) blur(10px);
}

.mute:hover{
    cursor: pointer;
}

.upperWrapper{
    display: flex;
    align-items: center;
    /* padding:10px; */
}

.upperWrapper>p{
    margin:0 20px;
}

.hdWrapper{
    border:1px solid white;
}

.hdWrapper>span{
    padding:4px;
    color:whitesmoke;
}

.bottomWrapper{
    width: 100%;
    position: relative;
    padding:15px;
}

.genre{
    color:whitesmoke;
}

@media screen and (max-width:800px){
    .modal{
        width:100%;
        height: 100vh;
        top:0 !important;
    }

    .modalPlayButton{
        left:0;
        /* background:none !important; */
        backdrop-filter: none;  
        width:150px; 
    }

    .playBtn{
        /* width:28%; */
        display: none;
    }

    .mute{
        top:52%;
        border:1px solid green;
    }
}